.commonProps {
    text-align : center;
}

.navbarMenu {
    margin: 0 -15px;
    height: 100vh;
    width: inherit;
    position: fixed;
    border-right-color: grey;
    border-right-style: double;
    border-right-width: 5px;
}

.navColor {
    color: #9d9d9d;
    list-style-type: none;
}

a.navColor:hover,
a.navColor:focus {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

ul.navColor {
    float: left;
}